/* FIXED POSITION FOR THE FURNITURE FAN */
.furniture-fan-container { 
    position: absolute; 
    /* This pushes it down to the level of the first drawer */
    top: 580px;  
    /* This aligns it to the right side of the cabinet */
    left: 450px; 
    width: 100px;
    height: 100px;
    z-index: 9999; 
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure the icons fit the circles perfectly */
.icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
